// Define variables for your color scheme

// For example:
$color-primary: #a8dadc;
$color-secondary: #1d3557;
$color-tertiary: #B7C3F3;
$color-grey: #a8dadc;
$color-grey-dark: #1d3557;
$color-white: #FFFFFF;
$color-pink_pastel: #FFBFBC;
