// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/custom";
@import "config/mixins";

.score {
  display: flex;
width: 73px;
height: 46px;
padding: 17.068px 27.929px;
justify-content: center;
align-items: center;
gap: 3.103px;
flex-shrink: 0;
color: red;
}
